In [1]:
import pandas as pd
import numpy as np
import os
import csv
import json

# Loading Datasets

### Downtown Docks 2019 Boaters Boats Dataset

In [2]:
bb_df = pd.read_csv("Resources/Data/boaters_boats.csv", encoding='ISO-8859-1')
bb_df.shape
bb_df

,ID,Name,Email,Phone,Boat Name,Boat Type,Country,Boat Make,Boat Model,Boat Year,...,Adjustment,Sales Tax,Total Price,Amount Paid,Refund,Discount Price,Discount Reasons,Special Requests,Notes,Contact Notes
0,5NJB9D4YY,Chris Chellios,NaN,NaN,Caltara,power,NaN,NaN,NaN,NaN,...,$0.00,$0.00,$0.00,$0.00,$0.00,($270.00),Paying at the dock,NaN,8:15-10:15,NaN
1,PW1I1Y1Y,Chris Chellios,NaN,NaN,Caltara,power,NaN,NaN,NaN,NaN,...,$0.00,$18.90,$288.90,$0.00,$0.00,$0.00,NaN,3:30pm-5:30pm,NaN,NaN
2,KDPCLVML,Eddie (Marc Frontier),NaN,6309678844,Marc Frontier,power,NaN,NaN,NaN,NaN,...,$0.00,$6.30,$96.30,$0.00,$0.00,$0.00,NaN,NaN,Goin to pay at the dock/ 6pm arrival,NaN
3,YMNC1NXL,No idea,NaN,NaN,Motley Crew,power,NaN,NaN,NaN,NaN,...,$0.00,$5.60,$85.60,$0.00,$0.00,$0.00,NaN,11-Sep,NaN,NaN
4,JXLHDYP9,Doug J,NaN,NaN,Sunseeker,power,NaN,NaN,NaN,NaN,...,$0.00,$7.00,$107.00,$0.00,$0.00,$0.00,NaN,7:30-930,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2728,3NLB0NZN,Jeffrey R Siglin,jsiglin@gmail.com,8477221415,TBD,power,NaN,NaN,NaN,NaN,...,$0.00,$4.90,$74.90,$74.90,$0.00,$0.00,NaN,Docking space in front of City Winery from 11-12,Moved to 1-2 per call with customer,NaN
2729,VJZHN7NM,Robert J McKendry,robert.mckendry1@gmail.com,8475071998,Copper Line,power,NaN,NaN,NaN,NaN,...,$0.00,$4.90,$74.90,$74.90,$0.00,$0.00,NaN,NaN,3:45-5:45,NaN
2730,DPKA6DNX,JONATHAN p TOMEK,jtomek@pwkaiser.com,8477026184,CROWNLINE,power,NaN,NaN,NaN,NaN,...,$0.00,$0.00,$0.00,$0.00,($96.30),$0.00,NaN,"looking for a noon, 1 or 2pm dock starting time",NaN,NaN
2731,ZGMAG79G,JONATHAN p TOMEK,jtomek@pwkaiser.com,8477026184,CROWNLINE,power,NaN,NaN,NaN,NaN,...,$0.00,$0.00,$0.00,$0.00,($96.30),$0.00,NaN,I AM LOOKING TO DOCK FROM 3-5 ON THIS DAY WEAT...,NaN,NaN
2732,0MECDW1D,Ed Stack,ejmmstack@yahoo.com,8477697709,Ed Stack,power,NaN,NaN,NaN,NaN,...,$0.00,$0.00,$0.00,$0.00,($53.50),$0.00,NaN,Looking for a couple hours for a late lunch. D...,Dockwa Support Note (9/26/18): This refund req...,NaN

### Master Boat Database

In [3]:
mbd = pd.read_csv("Resources/Data/master_boat_db_edit.csv", encoding='ISO-8859-1')
mbd.shape
mbd.shape

(591435, 18)

# Rename and Format Columns

#### Downtown Docks 2019 Boaters Boats Dataset

In [4]:
bb_df = bb_df.rename(columns={
    "Boat Make"	: "Boat_Make",
})

#### Master Boat Database

In [5]:
mbd = mbd.rename(columns={
    "make" : "Boat_Make",
})

# Reference Columns

In [6]:
bb_df = bb_df[["Country", "Boat_Make"]]
bb_df = bb_df.dropna()
bb_df.shape

(2710, 2)

#### Dropping Duplicates

In [31]:
unique_bb_df = bb_df.drop_duplicates()
unique_bb_df

     Country           Boat_Make
8      Italy            Absolute
58    Sweden        Albin Marine
60       USA    Angler Boat Corp
61       USA          Aqua Patio
62       USA  Axis Wake Research
...      ...                 ...
2689     USA          Walker Bay
2690     USA           Wellcraft
2693     USA           wellcraft
2718   Japan              Yamaha
2727   Italy                 Zar

[120 rows x 2 columns]

# Grouped By Boat Make and Sorted by Freq (Amount of Reservation Made)

In [28]:
gp_bb_df = bb_df.groupby('Country').describe()
gp_bb_df = gp_bb_df.sort_values(('Boat_Make', 'freq'), ascending=False).reset_index()
gp_bb_df

        Country Boat_Make
                    count unique                      top  freq
0           USA      2261     95            Sea Ray Boats  1090
1       England       103      3  Sunseeker International   101
2        France        70      3               Four Winns    66
3         Italy       211      9                 Prestige    61
4   Netherlands        41      3                   Galeon    35
5         Japan         9      1                   Yamaha     9
6        Canada         4      1                    Doral     4
7        Poland         4      1             Axopar Boats     4
8     Australia         3      1                  Riviera     3
9        Sweden         2      1             Albin Marine     2
10        China         1      1                  SUNBIRD     1
11      Germany         1      1                  Sealine     1

## Description of groupby labels
#### Count - How many total boats made reservation
#### Unique - How many type of boats per country made reservation
#### Top - Show the type of boat per country that made the most reservation
#### Freq - Amount of reservation made per top boat per country

# Merging Datasets
#### Merging datasets on Boat Make to add country into the Master Dataset

In [60]:
boat_master = pd.merge(mbd, unique_bb_df, how='inner', on="Boat_Make").set_index('boat_id')
boat_master.shape

(32258, 18)

#### Moved the Country column to the beginning

In [58]:
boat_master = boat_master[[ "Country", "boat_type",	"year", "Boat_Make", "model", "model_type",	"length_overall", "yield_length", "beam", "draft", "height", "hull", "engine", "hp", "weight", "fuel_type",	"boat_image", "active"]]
boat_master.rename(columns={
    "Boat_Make"	: "make",
})
boat_master.shape

(32258, 18)

##### Sample Data

In [59]:
bm_sample = boat_master.head(10)
bm_sample.shape

(10, 18)

# Saving DataFrame as csv file on desktop

#### Dockdocks Boat Report 2019

In [41]:
gp_bb_df.to_csv("Resources/Data/dtdock_boat_report_2019.csv")

#### Boat Master Database

In [42]:
boat_master.to_csv("Resources/Data/boat_master.csv")

##### Sample Data

In [48]:
bm_sample.to_csv("Resources/Data/bm_sample.csv")

# Saving DataFrame as json file on desktop

In [51]:
boat_master.to_json(r"Resources/static/js/boat_master.json", orient='index')

##### Sample Data

In [50]:
bm_sample.to_json(r"Resources/static/js/bm_sample.json", orient='index')