In [1]:
import pandas as pd
import numpy as np
import os
import csv
import json

# Loading Datasets

### Downtown Docks 2019 Boaters Boats Dataset

In [2]:
bb_df = pd.read_csv("assets/data/boaters_boats.csv", encoding='ISO-8859-1')
bb_df.shape
bb_df

,ID,Name,Email,Phone,Boat Name,Boat Type,Country,Boat Make,Boat Model,Boat Year,...,Adjustment,Sales Tax,Total Price,Amount Paid,Refund,Discount Price,Discount Reasons,Special Requests,Notes,Contact Notes
0,5NJB9D4YY,Chris Chellios,NaN,NaN,Caltara,power,NaN,NaN,NaN,NaN,...,$0.00,$0.00,$0.00,$0.00,$0.00,($270.00),Paying at the dock,NaN,8:15-10:15,NaN
1,PW1I1Y1Y,Chris Chellios,NaN,NaN,Caltara,power,NaN,NaN,NaN,NaN,...,$0.00,$18.90,$288.90,$0.00,$0.00,$0.00,NaN,3:30pm-5:30pm,NaN,NaN
2,KDPCLVML,Eddie (Marc Frontier),NaN,6309678844,Marc Frontier,power,NaN,NaN,NaN,NaN,...,$0.00,$6.30,$96.30,$0.00,$0.00,$0.00,NaN,NaN,Goin to pay at the dock/ 6pm arrival,NaN
3,YMNC1NXL,No idea,NaN,NaN,Motley Crew,power,NaN,NaN,NaN,NaN,...,$0.00,$5.60,$85.60,$0.00,$0.00,$0.00,NaN,11-Sep,NaN,NaN
4,JXLHDYP9,Doug J,NaN,NaN,Sunseeker,power,NaN,NaN,NaN,NaN,...,$0.00,$7.00,$107.00,$0.00,$0.00,$0.00,NaN,7:30-930,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2728,3NLB0NZN,Jeffrey R Siglin,jsiglin@gmail.com,8477221415,TBD,power,NaN,NaN,NaN,NaN,...,$0.00,$4.90,$74.90,$74.90,$0.00,$0.00,NaN,Docking space in front of City Winery from 11-12,Moved to 1-2 per call with customer,NaN
2729,VJZHN7NM,Robert J McKendry,robert.mckendry1@gmail.com,8475071998,Copper Line,power,NaN,NaN,NaN,NaN,...,$0.00,$4.90,$74.90,$74.90,$0.00,$0.00,NaN,NaN,3:45-5:45,NaN
2730,DPKA6DNX,JONATHAN p TOMEK,jtomek@pwkaiser.com,8477026184,CROWNLINE,power,NaN,NaN,NaN,NaN,...,$0.00,$0.00,$0.00,$0.00,($96.30),$0.00,NaN,"looking for a noon, 1 or 2pm dock starting time",NaN,NaN
2731,ZGMAG79G,JONATHAN p TOMEK,jtomek@pwkaiser.com,8477026184,CROWNLINE,power,NaN,NaN,NaN,NaN,...,$0.00,$0.00,$0.00,$0.00,($96.30),$0.00,NaN,I AM LOOKING TO DOCK FROM 3-5 ON THIS DAY WEAT...,NaN,NaN
2732,0MECDW1D,Ed Stack,ejmmstack@yahoo.com,8477697709,Ed Stack,power,NaN,NaN,NaN,NaN,...,$0.00,$0.00,$0.00,$0.00,($53.50),$0.00,NaN,Looking for a couple hours for a late lunch. D...,Dockwa Support Note (9/26/18): This refund req...,NaN

### Master Boat Database

In [3]:
mbd = pd.read_csv("assets/data/master_boat_db_edit.csv", encoding='ISO-8859-1')
mbd.head()

,boat_id,boat_type,year,make,model,model_type,length_overall,yield_length,beam,draft,height,hull,engine,hp,weight,fuel_type,boat_image,active
0,1,Power,2016,A and L Fiberglass,LAGOON SPORT 15/FO,OUTBD,15,NaN,6.333333,NaN,NaN,FG,1,30.0,750,Gasoline,NaN,NaN
1,2,Power,2016,A and L Fiberglass,LAGOON SPRINT 15 TLLR/FO,OUTBD,15,NaN,6.333333,NaN,NaN,FG,1,30.0,650,Gasoline,NaN,NaN
2,3,Power,2016,A and L Fiberglass,LAGOON SPORT 16/FO,OUTBD,16,NaN,6.333333,NaN,NaN,FG,1,40.0,850,Gasoline,NaN,NaN
3,4,Power,2015,A and L Fiberglass,LAGOON SPORT 15/FO,OUTBD,15,NaN,6.333333,NaN,NaN,FG,1,30.0,750,Gasoline,NaN,NaN
4,5,Power,2015,A and L Fiberglass,LAGOON SPRINT 15 TLLR/FO,OUTBD,15,NaN,6.333333,NaN,NaN,FG,1,30.0,650,Gasoline,NaN,NaN

# Rename and Format Columns

#### Downtown Docks 2019 Boaters Boats Dataset

In [4]:
bb_df = bb_df.rename(columns={
    "Boat Make"	: "manufacturer",
})

#### Master Boat Database

In [5]:
mbd = mbd.rename(columns={
    "make" : "manufacturer",
})

In [6]:
mbd["beam"] = mbd["beam"].round()

In [7]:
mbd

,boat_id,boat_type,year,manufacturer,model,model_type,length_overall,yield_length,beam,draft,height,hull,engine,hp,weight,fuel_type,boat_image,active
0,1,Power,2016,A and L Fiberglass,LAGOON SPORT 15/FO,OUTBD,15,NaN,6.0,NaN,NaN,FG,1,30.0,750,Gasoline,NaN,NaN
1,2,Power,2016,A and L Fiberglass,LAGOON SPRINT 15 TLLR/FO,OUTBD,15,NaN,6.0,NaN,NaN,FG,1,30.0,650,Gasoline,NaN,NaN
2,3,Power,2016,A and L Fiberglass,LAGOON SPORT 16/FO,OUTBD,16,NaN,6.0,NaN,NaN,FG,1,40.0,850,Gasoline,NaN,NaN
3,4,Power,2015,A and L Fiberglass,LAGOON SPORT 15/FO,OUTBD,15,NaN,6.0,NaN,NaN,FG,1,30.0,750,Gasoline,NaN,NaN
4,5,Power,2015,A and L Fiberglass,LAGOON SPRINT 15 TLLR/FO,OUTBD,15,NaN,6.0,NaN,NaN,FG,1,30.0,650,Gasoline,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
591430,591431,Power,2013,Zzyzxx Powerboats,TWO SEVENTY/BR,STERN,27,NaN,8.0,NaN,NaN,FG,1,425.0,5100,Gasoline,NaN,NaN
591431,591432,Power,2012,Zzyzxx Powerboats,TWO SEVENTY/BR,STERN,27,NaN,8.0,NaN,NaN,FG,1,425.0,5100,Gasoline,NaN,NaN
591432,591433,Power,2011,Zzyzxx Powerboats,TWO SEVENTY/BR,STERN,27,NaN,8.0,NaN,NaN,FG,1,425.0,5100,Gasoline,NaN,NaN
591433,591434,Power,2010,Zzyzxx Powerboats,TWO SEVENTY/BR,STERN,27,NaN,8.0,NaN,NaN,FG,1,425.0,5100,Gasoline,NaN,NaN
591434,591435,Power,2009,Zzyzxx Powerboats,TWO SEVENTY/BR,STERN,27,NaN,8.0,NaN,NaN,FG,1,425.0,5170,Gasoline,NaN,NaN

# Reference Columns

In [8]:
bb_df = bb_df[["Country", "manufacturer"]]
bb_df = bb_df.dropna()
bb_df.shape

(2710, 2)

#### Dropping Duplicates

In [9]:
unique_bb_df = bb_df.drop_duplicates()
unique_bb_df

     Country        manufacturer
8      Italy            Absolute
58    Sweden        Albin Marine
60       USA    Angler Boat Corp
61       USA          Aqua Patio
62       USA  Axis Wake Research
...      ...                 ...
2689     USA          Walker Bay
2690     USA           Wellcraft
2693     USA           wellcraft
2718   Japan              Yamaha
2727   Italy                 Zar

[120 rows x 2 columns]

# Grouped By Boat Make and Sorted by Freq (Amount of Reservation Made)

In [10]:
gp_bb_df = bb_df.groupby('Country').describe()
gp_bb_df = gp_bb_df.sort_values(('manufacturer', 'freq'), ascending=False).reset_index()
gp_bb_df

        Country manufacturer
                       count unique                      top  freq
0           USA         2261     95            Sea Ray Boats  1090
1       England          103      3  Sunseeker International   101
2        France           70      3               Four Winns    66
3         Italy          211      9                 Prestige    61
4   Netherlands           41      3                   Galeon    35
5         Japan            9      1                   Yamaha     9
6        Canada            4      1                    Doral     4
7        Poland            4      1             Axopar Boats     4
8     Australia            3      1                  Riviera     3
9        Sweden            2      1             Albin Marine     2
10        China            1      1                  SUNBIRD     1
11      Germany            1      1                  Sealine     1

## Description of groupby labels
#### Count - How many total boats made reservation
#### Unique - How many type of boats per country made reservation
#### Top - Show the type of boat per country that made the most reservation
#### Freq - Amount of reservation made per top boat per country

# Merging Datasets
#### Merging datasets on Boat Make to add country into the Master Dataset

In [11]:
boat_master = pd.merge(mbd, unique_bb_df, how='inner', on="manufacturer").drop_duplicates()
boat_master.head()

,boat_id,boat_type,year,manufacturer,model,model_type,length_overall,yield_length,beam,draft,height,hull,engine,hp,weight,fuel_type,boat_image,active,Country
0,4311,Power,2007,Albin Marine,CAPE COD 26,INBD,26,NaN,8.0,NaN,NaN,FG,1,315.0,5000,Diesel,NaN,NaN,Sweden
1,4312,Power,2007,Albin Marine,TOURNAMENT EXPRESS 26,STERN,26,NaN,8.0,NaN,NaN,FG,1,210.0,6000,Diesel,NaN,NaN,Sweden
2,4313,Power,2007,Albin Marine,TOURNAMENT EXPRESS 28,INBD,30,NaN,10.0,NaN,NaN,FG,1,315.0,7500,Diesel,NaN,NaN,Sweden
3,4314,Power,2007,Albin Marine,FAMILY CRUISER 30,INBD,31,NaN,10.0,NaN,NaN,FG,1,315.0,9800,Diesel,NaN,NaN,Sweden
4,4315,Power,2007,Albin Marine,TOURNAMENT EXPRESS 31,INBD,33,NaN,12.0,NaN,NaN,FG,1,500.0,14000,Diesel,NaN,NaN,Sweden

#### Moved the Country column to the beginning and renamed boat_make to make

In [12]:
boat_master = boat_master[[ "Country", "manufacturer", "model", "year", "length_overall", "beam"]]
boat_master = boat_master.rename(columns={
                                        "Country" : "country",
                                        "year" : "made_year",
                                        "length_overall" : "length",
                                        })

In [13]:
boat_master = boat_master.drop_duplicates(subset=["country", "manufacturer", "model", "made_year", "length", "beam"])

In [14]:
boat_master

      country  manufacturer                  model  made_year  length  beam
0      Sweden  Albin Marine            CAPE COD 26       2007      26   8.0
1      Sweden  Albin Marine  TOURNAMENT EXPRESS 26       2007      26   8.0
2      Sweden  Albin Marine  TOURNAMENT EXPRESS 28       2007      30  10.0
3      Sweden  Albin Marine      FAMILY CRUISER 30       2007      31  10.0
4      Sweden  Albin Marine  TOURNAMENT EXPRESS 31       2007      33  12.0
...       ...           ...                    ...        ...     ...   ...
32083     USA    Walker Bay                 340STH       2004      11   6.0
32084     USA    Walker Bay                    WB8       2003       8   4.0
32085     USA    Walker Bay                   WB10       2003      10   5.0
32086     USA    Walker Bay                   275R       2003       9   6.0
32087     USA    Walker Bay                   310R       2003      10   6.0

[11512 rows x 6 columns]

##### Sample Data

In [15]:
bm_sample = boat_master.head(10)
bm_sample.shape

(10, 6)

# Saving DataFrame as csv file on desktop

#### Dockdocks Boat Report 2019

In [16]:
gp_bb_df.to_csv("assets/data/dtdock_boat_report_2019.csv")

#### Boat Master Database

In [17]:
boat_master.to_csv("assets/data/boat_master.csv")

##### Sample Data

In [18]:
bm_sample.to_csv("assets/data/bm_sample.csv")

# Saving DataFrame as json file on desktop

In [19]:
boat_master.to_json(r"assets/static/js/boat_master.json", orient='table')

FileNotFoundError: [Errno 2] No such file or directory: 'assets/static/js/boat_master.json'

##### Sample Data

In [ ]:
bm_sample.to_json(r"assets/static/js/bm_sample.json", orient='index')