In [1]:
import pandas as pd
import numpy as np
import os
import csv

# Loading Datasets

### Downtown Docks 2019 Boaters Boats Dataset

In [47]:
bb_df = pd.read_csv("Resources/boaters_boats.csv", encoding='ISO-8859-1')
bb_df.shape

(2733, 41)

### Master Boat Database

In [26]:
mbd = pd.read_csv("Resources/master_boat_db_edit.csv", encoding='ISO-8859-1')
mbd.shape

(591435, 18)

# Rename and Format Columns

#### Downtown Docks 2019 Boaters Boats Dataset

In [48]:
bb_df = bb_df.rename(columns={
    "Boat Make"	: "Boat_Make",
})

#### Master Boat Database

In [28]:
mbd = mbd.rename(columns={
    "make" : "Boat_Make",
})

# Reference Columns

In [73]:
bb_df = bb_df[["Country", "Boat_Make"]]
bb_df = bb_df.dropna()
bb_df.shape

(2710, 2)

#### Dropping Duplicates

In [72]:
unique_bb_df = bb_df.drop_duplicates()
unique_bb_df.shape

(120, 2)

# Grouped By Boat Make and Sorted by Freq (Amount of Reservation Made)

In [50]:
gp_bb_df = bb_df.groupby('Country').describe()
gp_bb_df = gp_bb_df.sort_values(('Boat_Make', 'freq'), ascending=False).reset_index()
gp_bb_df

        Country Boat_Make
                    count unique                      top  freq
0           USA      2261     95            Sea Ray Boats  1090
1       England       103      3  Sunseeker International   101
2        France        70      3               Four Winns    66
3         Italy       211      9                 Prestige    61
4   Netherlands        41      3                   Galeon    35
5         Japan         9      1                   Yamaha     9
6        Canada         4      1                    Doral     4
7        Poland         4      1             Axopar Boats     4
8     Australia         3      1                  Riviera     3
9        Sweden         2      1             Albin Marine     2
10        China         1      1                  SUNBIRD     1
11      Germany         1      1                  Sealine     1

## Description of groupby labels
#### Count - How many total boats made reservation
#### Unique - How many type of boats per country made reservation
#### Top - Show the type of boat per country that made the most reservation
#### Freq - Amount of reservation made per top boat per country

# Saving DataFrame as csv file on desktop

#### Dockdocks Boat Report 2019

In [40]:
gp_bb_df.to_csv("Resources/dtdock_boat_report_2019.csv")

# Merging Datasets
#### Merging datasets on Boat Make to add country into the Master Dataset

In [76]:
m_mbd = pd.merge(mbd, unique_bb_df, how='inner', on="Boat_Make")
m_mbd.shape

(32258, 19)

In [82]:
england = bb_df.loc[bb_df["Country"] == "England",:]
england = england["Boat_Make"].unique()
england.shape

(3,)

In [ ]:
m_mbd.loc[m_mbd["Baot_"]]